$primary-color: rgb(246, 250, 211);
$secondary-color: rgb(227, 228, 216);
$tertiary-color: rgb(227, 228, 216);
$border-color: rgb(58, 58, 58);
$transparent-color: rgba(0,0,0,0.5);
$header_m: 62px;
$header_d: 81px;

body{
  min-height: 100vh;
  background-image: url("../assets/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

header{
  height: $header_m;
}

main{
  // position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
}

footer{
  height: 80px;
}

a{
  cursor: pointer;
}