.button-list{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mina-btn{
    cursor: pointer;
  }

  li{
    width: 8rem;
    padding: 15px;
    margin: 0 8px;
    border: 1px solid $border-color;
    border-radius: 50px;
    background-color: $secondary-color;
    text-align: center;
  }

  a li:hover{
    background-color: $primary-color;
  }
}

.form-control .btn{
  padding: 0.63rem;
  border: 1px solid $border-color;
  background-color: $tertiary-color;
  cursor: pointer;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn-danger{
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 0.63rem;
  border: 1px solid $border-color;
  background-color: $warning-color;
  cursor: pointer;
  margin-bottom: 1rem;
}

.mina-sidor{
  background-color: $secondary-color;
}

.login-container, .reg-container{
  display: flex;
  flex-direction: row;
  padding: 5px;

  input{
    font-size: 0.9rem;
    width: auto;
    padding: 0.63rem;
    border: solid 1px $border-color;
    background-color: $primary-color;
    margin-left: 5px;
  }
}