.button-list{
  display: flex;
  flex-direction: row;
  justify-content: center;

  li{
    width: 8rem;
    padding: 15px;
    margin: 0 8px;
    border: 1px solid $border-color;
    border-radius: 50px;
    background-color: $secondary-color;
    text-align: center;
  }
}

.form-control .btn {
  padding: 0.63rem;
  border: 1px solid $border-color;
  background-color: $tertiary-color;
  cursor: pointer;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn-danger{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0.63rem;
  border: 1px solid $border-color;
  background-color: $warning-color;
  cursor: pointer;
}